extends  ./../layout/_layout

block meta
  -
    const meta = {
      title: "株式会社 ジャンゴフィルム",
      description: "100年",
      url: "https://django-film.jp/"
    }

block name
  - const name = "staff"

block contents
  include ./../object/_o-header
  +o-header("staff", "スタッフ")
  .staff_top
    .staffTop_bg
    include ./../object/_o-ttl
    +o-ttl("staffTop_ttl", "join us", "スタッフについて", "white")
    .container
      .staffTop_txt 映画製作に興味がある若者や新人若手監督に向けて、
        br(class='pc')
        | 2007年から現在にかけて、無数な作品を作成した。
        br(class='pc')
        | ジャンゴフィルムの総合力は、映画、映像制作のスペシャリストの集まりであり、
        br(class='pc')
        | 映画制作のことなら何でもできる、という力です。私たちは様々な作品を作りたい、挑戦したい、
        br(class='pc')
        | 今まで色々な困難を越えて、この世界へ。
      .staffTop_img
        .staffTopImg_team
          img(src=`${path}/assets/img/staff/img_team.png`, alt="")
        .staffTopImg_join
          img(src=`${path}/assets/img/staff/img_join.png`, alt="")
    
  .staffData
    .container
      .staffData_head
        span.common_txtGradient.u-font-dinPro 2014
        span 年以降の主な担当作品
      .staffData_ttl
        .staffDataTtl_img
          img(src=`${path}/assets/img/staff/img_person.svg`, alt="")
        .staffDataTtl_txt プロデューサー
        .staffDataTtl_line
      ul.staffData_list
        include ./../object/_o-staffData

      ul.staffData_list
        include ./../object/_o-staffData4

      ul.staffData_list
        include ./../object/_o-staffData5

      .staffData_ttl
        .staffDataTtl_img
          img(src=`${path}/assets/img/staff/img_person3.svg`, alt="")
        .staffDataTtl_txt 脚本家
        .staffDataTtl_line.other1
      ul.staffData_list
        include ./../object/_o-staffData2
      .staffData_ttl
        .staffDataTtl_img
          img(src=`${path}/assets/img/staff/img_person2.svg`, alt="")
        .staffDataTtl_txt キャスティング
        .staffDataTtl_line.other2
      ul.staffData_list
        include ./../object/_o-staffData3