-
  const path = "/movie-site/";

.o-mainSlider.swiper-container.js-mainSlider
  ul.o-mainSlider_list.swiper-wrapper
    li.o-mainSlider_item.swiper-slide
      .o-mainSlider_inner
        .o-mainSlider_img
          img(src=`${path}/assets/img/top/img_slide-01.png`, alt="")
        .o-mainSlider_details
          .o-mainSliderDetails_head
            h2.o-mainSliderDetails_ttl.u-font-azoSans 燃えよデブゴン
            h3.o-mainSliderDetails_subTtl.u-font-azoSans TOKYO MISSION
          .o-mainSliderDetails_body
            p.o-mainSliderDetails_schedule
              span.date.u-font-azoSans 2021.1.1
              span.day 金•元日より
              span.where TOHOシネマズ日比谷ほか全国公開
          .o-mainSliderDetails_footer
            ul.o-mainSliderDetails_role
              li 監督｜谷垣健治
              li 脚本｜ウォン・ジン
              li 製作｜ドニー・イェン、ウォン・ジン、コニー・ウォン
              li 出演｜ドニー・イェン、テレサ・モウ、ウォン・ジン、 ニキ・チョウ、竹中直人、丞威、渡辺哲、バービーほか
            p.o-mainSliderDetails_year 2020 年 / 香港 / カラー / スコープサイズ / 広東語・日本語 / 原題 肥龍過江 / 96 分
              br
              | ©2020 MEGA-VISION PROJECT WORKSHOP LIMITED.ALL RIGHTS RESERVED.
              br
              | 配給：ツイン
    li.o-mainSlider_item.swiper-slide
      .o-mainSlider_inner
        .o-mainSlider_img
          img(src=`${path}/assets/img/top/img_slide-01.png`, alt="")
        .o-mainSlider_details
          .o-mainSliderDetails_head
            h2.o-mainSliderDetails_ttl.u-font-azoSans 燃えよデブゴン
            h3.o-mainSliderDetails_subTtl.u-font-azoSans TOKYO MISSION
          .o-mainSliderDetails_body
            p.o-mainSliderDetails_schedule
              span.date.u-font-azoSans 2021.1.1
              span.day 金•元日より
              span.where TOHOシネマズ日比谷ほか全国公開
          .o-mainSliderDetails_footer
            ul.o-mainSliderDetails_role
              li 監督｜谷垣健治
              li 脚本｜ウォン・ジン
              li 製作｜ドニー・イェン、ウォン・ジン、コニー・ウォン
              li 出演｜ドニー・イェン、テレサ・モウ、ウォン・ジン、 ニキ・チョウ、竹中直人、丞威、渡辺哲、バービーほか
            p.o-mainSliderDetails_year 2020 年 / 香港 / カラー / スコープサイズ / 広東語・日本語 / 原題 肥龍過江 / 96 分
              br
              | ©2020 MEGA-VISION PROJECT WORKSHOP LIMITED.ALL RIGHTS RESERVED.
              br
              | 配給：ツイン
    li.o-mainSlider_item.swiper-slide
      .o-mainSlider_inner
        .o-mainSlider_img
          img(src=`${path}/assets/img/top/img_slide-01.png`, alt="")
        .o-mainSlider_details
          .o-mainSliderDetails_head
            h2.o-mainSliderDetails_ttl.u-font-azoSans 燃えよデブゴン
            h3.o-mainSliderDetails_subTtl.u-font-azoSans TOKYO MISSION
          .o-mainSliderDetails_body
            p.o-mainSliderDetails_schedule
              span.date.u-font-azoSans 2021.1.1
              span.day 金•元日より
              span.where TOHOシネマズ日比谷ほか全国公開
          .o-mainSliderDetails_footer
            ul.o-mainSliderDetails_role
              li 監督｜谷垣健治
              li 脚本｜ウォン・ジン
              li 製作｜ドニー・イェン、ウォン・ジン、コニー・ウォン
              li 出演｜ドニー・イェン、テレサ・モウ、ウォン・ジン、 ニキ・チョウ、竹中直人、丞威、渡辺哲、バービーほか
            p.o-mainSliderDetails_year 2020 年 / 香港 / カラー / スコープサイズ / 広東語・日本語 / 原題 肥龍過江 / 96 分
              br
              | ©2020 MEGA-VISION PROJECT WORKSHOP LIMITED.ALL RIGHTS RESERVED.
              br
              | 配給：ツイン
    li.o-mainSlider_item.swiper-slide
      .o-mainSlider_inner
        .o-mainSlider_img
          img(src=`${path}/assets/img/top/img_slide-01.png`, alt="")
        .o-mainSlider_details
          .o-mainSliderDetails_head
            h2.o-mainSliderDetails_ttl.u-font-azoSans 燃えよデブゴン
            h3.o-mainSliderDetails_subTtl.u-font-azoSans TOKYO MISSION
          .o-mainSliderDetails_body
            p.o-mainSliderDetails_schedule
              span.date.u-font-azoSans 2021.1.1
              span.day 金•元日より
              span.where TOHOシネマズ日比谷ほか全国公開
          .o-mainSliderDetails_footer
            ul.o-mainSliderDetails_role
              li 監督｜谷垣健治
              li 脚本｜ウォン・ジン
              li 製作｜ドニー・イェン、ウォン・ジン、コニー・ウォン
              li 出演｜ドニー・イェン、テレサ・モウ、ウォン・ジン、 ニキ・チョウ、竹中直人、丞威、渡辺哲、バービーほか
            p.o-mainSliderDetails_year 2020 年 / 香港 / カラー / スコープサイズ / 広東語・日本語 / 原題 肥龍過江 / 96 分
              br
              | ©2020 MEGA-VISION PROJECT WORKSHOP LIMITED.ALL RIGHTS RESERVED.
              br
              | 配給：ツイン
    li.o-mainSlider_item.swiper-slide.full
      .o-mainSlider_inner
        .o-mainSlider_img
          img(src=`${path}/assets/img/top/img_slide-02.png`, alt="")
  .o-mainSlider_pagination.swiper-pagination