mixin meta(meta)
  meta(charset="UTF-8")
  meta(name="viewport" content="width=device-width, initial-scale=1.0")
  meta(http-equiv="X-UA-Compatible" content="ie=edge")
  title #{meta.title}
  meta(name="description" content=`${meta.description}`)
  meta(property="og:url" content=`${meta.url}`)
  meta(property="og:title" content=`${meta.title}`)
  meta(property="og:type" content="website")
  meta(property="og:description" content=`${meta.description}`)
  meta(property="og:image" content=`${path}assets/ogp.png`)
  meta(property="og:image:secure_url" content=`${path}assets/ogp.png`)
  meta(name="twitter:card" content="summary_large_image")
  meta(name="twitter:description" content=`${meta.description}`)
  meta(name="twitter:title" content=`${meta.title}`)
  meta(property="og:site_name" content=`${meta.title}`)
  meta(property="og:locale" content="ja_JP")
  meta(name="format-detection" content="telephone=no")
  link(rel="icon" sizes="32x32" href=`${path}assets/favicon.ico`)
  link(rel="apple-touch-icon" sizes="180x180" href=`${path}assets/apple-touch-icon.png`)
  link(rel="canonical", href=`${meta.url}`)
