extends  ./../layout/_layout

block meta
  -
    const meta = {
      title: "株式会社 ジャンゴフィルム",
      description: "100年",
      url: "https://django-film.jp/"
    }

block name
  - const name = "works"

block contents
  .works_top
    .worksTop_bg
    include ./../object/_o-ttl
    +o-ttl("worksTop_ttl", "latest works", "最新作品", "white")
    .worksTop_mainSlider
      ul.worksTopMainSlider_inner.js-scrollAnim.swiper-wrapper
        li.worksTopMainSlider_item.swiper-slide
          img(src=`${path}/assets/img/works/img_slide-02.png`, alt="")
        li.worksTopMainSlider_item.swiper-slide
          img(src=`${path}/assets/img/works/img_slide-03.png`, alt="")
        li.worksTopMainSlider_item.swiper-slide
          img(src=`${path}/assets/img/works/img_slide-04.png`, alt="")
        li.worksTopMainSlider_item.swiper-slide
          img(src=`${path}/assets/img/works/img_slide-06.png`, alt="")
  
  .works_other
    .container
      .worksOther_slider.swiper-container.js-scrollAnim
        ul.worksOtherSlider_inner.swiper-wrapper
          li.worksOtherSlider_item.swiper-slide
            img(src=`${path}/assets/img/works/img_otherslide-01.jpg`, alt="")
            .details
              p 日本で一番悪い奴ら
          li.worksOtherSlider_item.swiper-slide
            img(src=`${path}/assets/img/works/img_otherslide-02.jpg`, alt="")
            .details
              p ヒーローマニア
          li.worksOtherSlider_item.swiper-slide
            img(src=`${path}/assets/img/works/img_otherslide-03.jpg`, alt="")
            .details
              p アフロ田中
          li.worksOtherSlider_item.swiper-slide
            img(src=`${path}/assets/img/works/img_otherslide-04.jpg`, alt="")
            .details
              p お嬢さん
          li.worksOtherSlider_item.swiper-slide
            img(src=`${path}/assets/img/works/img_otherslide-05.jpg`, alt="")
            .details
              p Death Note : Light Up the New World
          li.worksOtherSlider_item.swiper-slide
            img(src=`${path}/assets/img/works/img_otherslide-06.jpg`, alt="")
            .details
              p 悪霊病棟
          li.worksOtherSlider_item.swiper-slide
            img(src=`${path}/assets/img/works/img_otherslide-07.jpg`, alt="")
            .details
              p ANTIPORNO
        .swiper-pagination
        .buttons
          .swiper-button-prev
          .swiper-button-next